name: Validate Manifests

on: [pull_request]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: kubectl apply dry-run
        run: |
          find . -type f -name "*.yaml" -or -name "*.yml" | xargs -r -n1 kubectl apply --dry-run=client -f
